.back-button-container{
    padding: 15px;
}
.back-button-svg{
    width: 25px;
    height: 25px;
}
@media(min-width: 480px){
    .back-button-container{
}
.back-button-svg{
    width: 30px;
    height: 30px;
}
}
