.favorites-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px;
  background-color: #ffffff;
  font-family: "Lora", serif;
}

.favorite-item {
  background-color: #efebec;
  border: 1px solid #d21b53;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.favorite-item:hover {
  transform: scale(1.02);
}

.favorite-item-img-container {
  text-align: center;
  margin-bottom: 10px;
  max-block-size: fit-content;
  height: 200px; 
  overflow: hidden; 
  justify-self: center;

}

.favorite-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;

  /* width: 100%;
  height: 100%; */

}

.favotire-item-options {
}

.favorite-item-info {
  text-align: center;
  margin-bottom: 10px;
}

.favorite-item-info .favorite-item-title {
  font-size: 1.2rem;
  color: #5d0b24;
  margin: 5px 0;
}

.favorite-item-info .favorite-item-autor {
  font-size: 1rem;
  color: #8d6b7a;
}

.details-button {
  display: block;
  margin: 0 auto;
  background-color: #f774a8;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 1rem;
}
.details-button:hover {
  background-color: #d21b53;
  transform: scale(1.05);
}
.favorite-item-heart {
  text-align: center;
  margin-top: 5px;
}
@media (min-width: 480px) {
  .favorites-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  .favorite-item{

  }
}
@media (min-width: 768px) {
  .favorites-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
    justify-content: center; 
  }
  
  .favorite-item {
    width: 100%; 
    max-width: 300px; 
    justify-self: center; 
  }
  
}